<nav class="navbar navbar-expand-lg cor">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <a class="navbar-brand text-light mb-2" href="#navbar">Bem-Vindo (a) ao seu calendário!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="row">
            <div class="collapse navbar-collapse justify-content-center mb-1" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 searchbg" style="border-color: white;" type="search"
                        placeholder="Procure um Evento!" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
</nav>