/* -------FONTES--------- */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito:ital,wght@0,200;0,700;1,200&family=Radio+Canada:wght@400;600;700&display=swap');

/* cor geral */
.cor {
    background-color: #181842;
}

/* altera a fonte do título */
.fonteTituloTxt {
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 20px;
}

/* altera a fonte do texto */
.fonteTxt {
    font-family: 'Nunito', cursive;
    font-weight: lighter;
    font-size: 18px;
}
