/* -------FONTES--------- */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito:ital,wght@0,200;0,700;1,200&family=Radio+Canada:wght@400;600;700&display=swap');

/* altera a fonte dos textos */
.fonteTxt {
    font-family: 'Nunito', cursive;
    font-weight: bold;
    font-size: 16px;
}

/* Altera a fonte dos títulos */
.fonteTituloTxt {
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 26px;
}

/* Circulos */
.dot {
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}
.urgente{
    background-color: #E46161;
}
.alta{
    background-color: #F1B963;
}
.media{
    background-color: #F8F398;
}
.baixa{
    background-color: #CBF078;
}

/* BOTÕES */

/* Botões sólidos */
.btn-color {
    background-color: #181842;
    border-color: #181842;
}

/* Botões vazados*/
.btn-outline-color {
    border-color: #181842;
}

/* Hover */
.bg-btn:hover {
    background-color: #0DD2A5;
    border-color: #0DD2A5;
}

.bg-btn:active {
    background-color: #363BC4;
    border-color: #363BC4;
}